<!DOCTYPE html>
<html>
<head>
    <title>Fraud Detection</title>
</head>
<body>
    <h2>Enter Transaction Details</h2>
    <form action="/predict" method="post">
        <label for="time">Time:</label>
        <input type="number" step="any" name="Time" required><br><br>

        {% for i in range(1, 29) %}
            <label for="V{{ i }}">V{{ i }}:</label>
            <input type="number" step="any" name="V{{ i }}" required><br><br>
        {% endfor %}

        <label for="amount">Amount:</label>
        <input type="number" step="any" name="Amount" required><br><br>

        <button type="submit">Predict</button>
    </form>
</body>
</html>
